@model RandevuYonetimSistemi.Models.Entities.Service

<h3>Sil</h3>
<p><b>@Model.Name</b> hizmetini silmek istiyor musun?</p>

<form method="post">
    <button class="btn btn-danger" type="submit">Evet, Sil</button>
    <a class="btn btn-secondary" asp-action="Index">Vazgeç</a>
</form>
