<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RandevuYonetimSistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RandevuYonetimSistemi.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RandevuYonetimSistemi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Portal">Ana Sayfa</a>
                        </li>

                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AdminAppointments" asp-action="Pending">Onay Bekleyenler</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AdminAppointments" asp-action="Index">Tüm Randevular</a>
                            </li>
                        }

                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Member"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Member" asp-action="Index">Üye Panel</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="MemberAppointments" asp-action="Index">Randevularım</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UyePanel" asp-action="AiOneri">
                                    Yapay Zeka Yardımı
                                </a>
                            </li>
                        }
                    </ul>

                    <!-- Sağ taraf: giriş / çıkış -->
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["Ok"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Ok"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
            @if (TempData["Err"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Err"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RandevuYonetimSistemi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
